<div class='itemlist'>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-eatstate="{{eaten}}">

		{{#if eaten}}EAT IT!{{else}}MAKE IT!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</div>
